
    html
    {
       font-size: 62.5%;
    }

    body
    {
        font-family: $font-lexend;
        font-size: $fz-body;
        background-color: $very-light-gray;
    }

    .card 
    {
        display: flex;
        flex-direction: column;
        padding: 4rem 1.8rem;
        

        .card__one
        {
            background-color: $bright-orange;
            border-radius: 10px 10px 0 0;

            .card__img 
            {
                img
                {
                    margin: 50px 0 0 50px;
                }
            }

            .card__content
            {
                h2
                {
                    font-family: $font-shoulders;
                    color: $very-light-gray;
                    font-size: 40px;
                    text-transform: uppercase;
                    margin-left: 50px;
                }

                p 
                {
                    color: $transparent-white;
                    width: 240px;
                    line-height: 1.8;
                    padding-bottom: 25px;
                    margin-left: 50px;
                }

                button
                {
                    display: inline-block;
                    margin: 0 0 45px 50px;
                    padding: 16px 35px;
                    border: none; outline: none;
                    border-radius: 30px;
                    color: $bright-orange;
                }
            }
        }

        .card__two
        {
            background-color: $dark-cyan;

            .card__img
            {
                img 
                {
                    margin: 50px 0 0 50px;
                }
            }

            .card__content
            {

                h2
                {
                    font-family: $font-shoulders;
                    color: $very-light-gray;
                    font-size: 40px;
                    text-transform: uppercase;
                    margin-left: 50px;
                }

                p 
                {
                    color: $transparent-white;
                    width: 240px;
                    line-height: 1.8;
                    padding-bottom: 25px;
                    margin-left: 50px;
                }

                button
                {
                    display: inline-block;
                    margin: 0 0 45px 50px;
                    padding: 16px 35px;
                    border: none; outline: none;
                    border-radius: 30px;
                    color: $dark-cyan;
                }
            }
        }

        .card__three
        {
            background-color: $very-dark-cyan;
            border-radius: 0 0 10px 10px;

            .card__img
            {
                img 
                {
                    margin: 50px 0 0 50px;
                }
            }

            .card__content
            {

                h2
                {
                    font-family: $font-shoulders;
                    color: $very-light-gray;
                    font-size: 40px;
                    text-transform: uppercase;
                    margin-left: 50px;
                }

                p 
                {
                    color: $transparent-white;
                    width: 230px;
                    line-height: 1.8;
                    padding-bottom: 25px;
                    margin-left: 50px;
                }

                button
                {
                    display: inline-block;
                    margin: 0 0 45px 50px;
                    padding: 16px 35px;
                    border: none; outline: none;
                    border-radius: 30px;
                    color: $very-dark-cyan;
                }
            }
        }

    }